body
{
   background-color: #020202;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 30px 0 30px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   animation: animate-fade-in-down 800ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Section1
{
   height: 511px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 5px 5px;
   animation: animate-fade-in-left 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(222,226,230,0.00);
   border-radius: 3px;
   text-align: center;
}
#Section1-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 50%;
   top: auto;
   bottom: 103px;
   transform: translateX(-50%);
   height: 306px;
   width: 136px;
   padding: 0;
}
#wb_Section1:hover #Section1-card-item0
{
   margin-bottom: 15px;
   transition: margin-bottom 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Section1-card-item0
{
   transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Section1-card-item0 img
{
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   border: 0px solid #000000;
   border-radius: 0px;
}
#wb_Section2
{
   height: 250px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 5px 0 10px 0 ;
   animation: animate-fade-in-right 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 50ms 1 normal both;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Section2-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 4%;
   top: 4%;
   height: 10%;
   width: 92%;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Section2-card-item1
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 30%;
   top: 23%;
   height: 12%;
   width: 40.1%;
   border: 0px solid rgba(13,110,253,0.00);
   border-radius: 10px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item1:hover
{
   margin-top: -3px;
   transition: margin-top 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms, all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Section2-card-item1 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 8px 0 8px 0;
   text-decoration: none;
}
#Section2-card-item2
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 30%;
   top: 37.5%;
   height: 12%;
   width: 40.1%;
   border: 0px solid rgba(13,110,253,0.00);
   border-radius: 10px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item2:hover
{
   margin-top: -3px;
   transition: margin-top 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms, all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Section2-card-item2 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 8px 0 8px 0;
   text-decoration: none;
}
#Section2-card-item3
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 30%;
   top: 51.5%;
   height: 12%;
   width: 40.1%;
   border: 0px solid rgba(13,110,253,0.00);
   border-radius: 10px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Arial Black";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item3:hover
{
   margin-top: -3px;
   transition: margin-top 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms, all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
}
#Section2-card-item3 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 8px 0 8px 0;
   text-decoration: none;
}
#wb_Section3
{
   height: 250px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 5px 0 ;
   animation: animate-fade-in-right 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms 1 normal both;
   background-color: rgba(250,246,240,0.00);
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 5px;
   text-align: center;
}
#Section3-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 50%;
   top: auto;
   bottom: 32px;
   transform: translateX(-50%);
   height: 191px;
   width: 339px;
   padding: 0;
}
#Section3-card-item0 img
{
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   border: 0px solid #000000;
   border-radius: 0px;
}
